@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #606060;
  font-size: 1rem;
  font-weight: 200;
  margin: 0;
  padding: 0;
  transition: all;
  transition-duration: 400ms;
}

a:hover {
  color: blue;
}

p {
  font-weight: 200;
  font-size: 1rem;
  line-height: 1.2;
  transition: all;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 1rem 0;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  line-height: 1.3;
}

small {
  font-size: .75rem;
  color: #606060;
  font-style: italic;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: #fefefe;
    background: #222;
  }
  a {
    color: #bbb;
  }

} */